{{!-- {{#each comments as |comment|}} --}}
<div class="comment-body comment-border">
  <h3 class="resource-body">{{comment.body}}</h3>
  <div class="resource-body">commented by: {{comment._owner}}
<h1></h1>
  </div>
</div>
{{!-- {{/each}} --}}
